
DATABASE_URL="postgresql://neondb_owner:npg_8vpbxwXlhkM0@ep-divine-breeze-a1ozmpn4-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

API_URL=http://localhost:5000
ALLOWED_ORIGINS="http://localhost:3000" 
PORT=5000


MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=aimspurified@gmail.com
MAIL_PASSWORD=oxcs lnyq twnf exyz
MAIL_ENCRYPTION=ssl


FRONTEND_URL=http://localhost:3000


